.color-blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.5;
  }
  
  .blue {
    background-color: #1c3c98;
    width: 300px;
    height: 300px;
    top: -100px;
    left: -100px;
  }
  
  .yellow {
    background-color: #FFD700;
    width: 350px;
    height: 350px;
    bottom: -100px;
    right: -100px;
    opacity: 0.7;
  }
  
  .green {
    background-color: green;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  