.color-blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.5;
}

.blue {
  background-color: #1c3c98;
  width: 300px;
  height: 300px;
  top: -100px;
  left: -100px;
}

.yellow {
  background-color: #FFD700;
  width: 350px;
  height: 350px;
  bottom: -100px;
  right: -100px;
  opacity: 0.7;
}

.green {
  background-color: green;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles pour les éléments flottants */
.flow-element {
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  z-index: 1;
}

.flow-element.blue {
  background-color: #1c3c98;
  width: 60px;
  height: 60px;
}

.flow-element.yellow {
  background-color: #FFD700;
  width: 80px;
  height: 80px;
}

.flow-element.green {
  background-color: #4CAF50;
  width: 70px;
  height: 70px;
}

.flow-element.purple {
  background-color: #9C27B0;
  width: 50px;
  height: 50px;
}

.flow-element.orange {
  background-color: #FF9800;
  width: 90px;
  height: 90px;
}
